
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-croboto:Roboto Condensed,'sans-serif';
}
body {
 background: url("/blueDot.jpg") no-repeat  ;
 background-size: cover;

}
html {
  scroll-behavior: smooth;
}
